<!-- Inserção Professor: -->

<!--FORMULARIO -->
<div class="container">
    <form role="form" method="POST" action="/teachers" enctype="multipart/form-data">
      <div class="container insertContainer">
        <div class="topcoat-navigation-bar">
          <div class="topcoat-navigation-bar__item center full">
            <h3 align="center" class="topcoat-navigation-bar__title">
              Inserir novo professor
            </h3>
          </div>
        </div>
        <legend>Detalhes</legend>
        <div class="form-group">
          <div class="control-group">
            <div class="col-sm-6">
              <input class="form-control" type="text" class="form-control preenche" id="InputNome" placeholder="Nome completo"
                     name="nome" required/>
              <span class="glyphicon glyphicon-user"></span>
            </div>
            <div class="col-sm-4">
              <select class="form-control" id="selectTipo" name="tipo">
                <option>Administrador do Sistema</option>
                <option>Professor</option>
                <option>Auxiliar</option>
              </select>
            </div>
            <div class="col-sm-2">
              <select class="form-control" id="selectEstado" name="estado">
                <option>Ativo</option>
                <option>Não Ativo</option>
              </select>
            </div>
          </div>
          </br></br> </br>
          <div class="control-group">
            <div class="col-sm-4">
              <input type="email" class="form-control preenche" id="InputEmail"
                     title="Endereço de e-mail" placeholder="Endereço de e-mail" name="email" required/>
              <span id="imgMail" class="glyphicon glyphicon-envelope"></span>
            </div>
            <div class="col-sm-3">
              <input type="number" min="210000000" max="999999999" class="form-control preenche"
                     id="InputTelefone" placeholder="Telefone" name="telefone" required >
              <span class="glyphicon glyphicon-earphone"></span>
            </div>
            <div class="col-sm-5">
              <input type="file" id="inputFoto" class="form-control preenche" accept="image/jpg" name="file" required>
              <span class="glyphicon glyphicon-camera"></span>
              <img id="iFoto" style="display:none" src="../img/inConstruction.jpg">
            </div>
          </div>
          </br></br> </br>
          <div class="control-group">
            <div class="col-sm-4">
              <input type="password" class="form-control preenche" id="InputPasswd" placeholder="Palavra-passe"
                     name="password" required>
              <span id="pwdIcon" class="glyphicon glyphicon-lock"></span>
            </div>
            <div class="col-sm-4">
              <input type="password" class="form-control preenche" id="ConfirmPasswd" placeholder="Confirmar palavra-passe" required>
              <span class="glyphicon glyphicon-lock"></span>
            </div>
            <div class="col-sm-4">
              <input type="number" max="9999" class="form-control preenche" id="inputPin"
                     placeholder='Pin(para usar no Tablet)' name="pin" required>
              <span class="glyphicon glyphicon-modal-window"></span>
            </div>
          </div>
          <div class="col-sm-12">
            </br>
            <legend>Turmas</legend>
          </div>
          <div class="control-group">
            <div class="col-sm-4">
              <label>Escola:</label>
              <div id="selectEscolas">
              </div>
            </div>
            <div class="col-sm-4">
              <label>Turma:</label>
              <div id="selectTurmas">
              </div>
            </div>
            <div class="col-sm-4 col-bottom">
              <button id="addTurma" type="button" class="btn btn-success">
                <span class="glyphicon glyphicon glyphicon-plus" style="color:#00ff00"></span>
              </button>
            </div>
          </div>
          <!--###################################################################-->
        </div>
        <div class="control-group">
          <br/>
          <div id="assocTurma" class="col-sm-12">
            <br/>
          </div>
          <div class="col-sm-2">
            <button id="limpaTurmas" type="button" class="btn btn-danger">
              <span class="glyphicon glyphicon glyphicon-erase" style="color:#ffcc00"></span>
              Limpar todas
            </button>
          </div>
          <div id="hiddenEscola" style="display:none">
            <input type="text" id="teacherClasses" class="form-control" name="turmas" style="display:none">
          </div>

        </div>
      </div>
      <div class="col-md-4">

      </div>
      <div class="container">

        <div class="form-group">

          <div class="col-sm-12">
            </br>
            <div class="col-sm-5 col-md-offset-7">
              <div class="col-sm-6">
                <button id="buttonCancelar" type="reset"
                        class="btn btn-lg btn-default btn-block btn-cancel">
                  Cancelar
                </button>
              </div>
              <div class="col-sm-6">
                <button id="subProf" type="submit" class="btn btn-lg btn-success btn-block btn-created">
                  Submeter
                </button>
              </div>

            </div>
          </div>
        </div>


      </div>


    </form>
</div>