<div class="translations">
    <!--MENU -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar" style="height: auto;">

            <!-- search form -->
            <div class="input-group">
                <input type="text" id="txtSearch" class="form-control" placeholder="Procurar...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>

            <!-- /.search form -->

            <ul class="sidebar-menu">
                <li>
                    <a>
                        <i class="fa fa-question"></i>
                        <span data-i18n="general.questions"></span>
                        <span class="pull-right-container">
                            <span id="counter" class="label label-primary pull-right"><%=collection.length%>
                        </span>
                    </span>
                    </a>
                </li>
                <!-- Questions new -->
                <li class="treeview">
                    <a href="#">
                        <span data-i18n="questions.insert"></span>
                        <span class="pull-right-container">
                            <span class="label label-success pull-right">+</span>
                        </span>
                    </a>
                    <ul class="treeview-menu" style="display: none;">
                        <li><a href="#questionsText/new" id="textTestbtn">
                            <img src="../../img/text.png" style="height:20px">
                            <span> Texto </span></a></li>
                        <li><a href="#multimediaTest/new" id="multimediaTestbtn">
                            <img src="../../img/multimedia.png" style="height:20px">
                            <span> Multimédia </span></a>
                        </li>
                        <li><a href="#questionslist/new" id="listTestbtn">
                            <img src="../../img/list.png" style="height:20px">
                            <span> Lista </span></a>
                        </li>
                        <li><a href="#interpretationTest/new" id="interpretationTestbtn">
                            <img src="../../img/interpretation.png" style="height:20px">
                            <span> Interpretação </span></a>
                        </li>

                        <li class="divider"></li>
                        <li><a href="#whitespaces/new">
                            <img src="../../img/whitespaces.png" style="height:20px">
                            <span> Espaços </span></a></li>
                        <li><a href="#connections/new">
                            <img src="../../img/connections.png" style="height:20px">
                            <span> Ligações </span></a>
                        </li>
                        <li><a class="order">
                            <img src="../../img/regions.png" style="height:20px">
                            <span> Regiões </span></a>
                        </li>
                        <li><a href="#questionsBoxes/new>
                            <img src=" ../../img/boxes.png" style="height:20px">
                            <span> Caixas </span></a>
                        </li>
                    </ul>
                </li>
                <!-- Questions types -->
                <li class="treeview">
                    <a href="#">
                        <span data-i18n="questions.filterbytype"></span>
                        <span class="pull-right-container">
                            <i class="fa fa-filter pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu" style="display: none;">
                        <li><a class="filter">
                            <input type="checkbox" value="text" checked>
                            <img src="../../img/text.png" style="height:20px">
                            <span> Texto </span></a></li>
                        <li><a class="filter">
                            <input type="checkbox" value="multimedia" checked>
                            <img src="../../img/multimedia.png" style="height:20px">
                            <span> Multimédia </span></a>
                        </li>
                        <li><a class="filter">
                            <input type="checkbox" value="list" checked>
                            <img src="../../img/list.png" style="height:20px">
                            <span> Lista </span></a>
                        </li>
                        <li><a class="filter">
                            <input type="checkbox" value="interpretation" checked>
                            <img src="../../img/interpretation.png" style="height:20px">
                            <span> Interpretação </span></a>
                        </li>
                        <li class="divider"></li>
                        <li><a class="filter">
                            <input type="checkbox" value="whitespaces" checked>
                            <img src="../../img/whitespaces.png" style="height:20px">
                            <span> Espaços </span></a></li>
                        <li><a class="filter">
                            <input type="checkbox" value="connections" checked>
                            <img src="../../img/connections.png" style="height:20px">
                            <span> Ligações </span></a>
                        </li>
                        <li><a class="filter">
                            <input type="checkbox" value="regions" checked>
                            <img src="../../img/regions.png" style="height:20px">
                            <span> Regiões </span></a>
                        </li>
                        <li><a class="filter">
                            <input type="checkbox" value="boxes" checked>
                            <img src="../../img/boxes.png" style="height:20px">
                            <span> Caixas </span></a>
                        </li>
                    </ul>
                </li>
                <!-- Questions subjects -->
                <li class="header" data-i18n="questions.filterbuyubject"></li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <div class="content-wrapper">

        <% _.each(collection,function(category){ %>
        <div class="col-md-12 categoryItem" name="<%=category.subject%>" type="<%=category._id%>">
            <!-- Box Comment -->
            <div class="box box-widget collapsed-box">
                <div class="box-header with-border">
                    <div class="user-block">
                        <img class="img-circle" src=" ../img/<%= category._id %>.png" alt="User
                        Image">
                        <span class="username"><span class="info-box-text"><%=category.subject%></span></span>
                        <span class="description"><%= category.content.length %> <span
                                data-i18n="categories.contents"></span></span>
                        <span class="hidden"></span>
                        <span class="hidden"></span>
                    </div>
                    <!-- /.user-block -->
                    <div class="box-tools">

                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-plus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <% _.each(category.content,function(content){ %>
                    <div class="box box-info collapsed-box">
                        <div class="box-header with-border">
                            <h3 class="box-title"><%=content.name%>
                                <small>
                                    <span class="text-muted"> <%=content.specification.length%> </span>
                                    <span class="text-muted" data-i18n="categories.specifications"></span>
                                </small>
                            </h3>

                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                                </button>
                            </div><!-- /.box-tools -->
                        </div><!-- /.box-header -->
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-striped table-letr" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th data-i18n="categories.specification"></th>
                                    <th data-i18n="btns.edit"></th>
                                    <th data-i18n="btns.delete"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <% _.each(content.specification,function(specification){ %>

                                <tr>
                                    <td><%=specification._id%></td>
                                    <td> <%=specification.name%></td>
                                    <td class="text-right">
                                        <a href="#" data-skin="skin-blue" class="btn btn-primary btn-xs">
                                            <i class="fa fa-edit"></i></a></td>
                                    <td class="text-center"><a href="#" data-skin="skin-yellow-light"
                                                               class="btn btn-warning btn-xs">
                                        <i class="fa fa-trash"></i></a></td>
                                </tr>
                                <% }); %>

                                </tbody>
                            </table>
                            <br>
                            <form category="<%=category._id%>" content="<%=content._id%>">
                                <div class="input-group">
                                    <input type="text"
                                           placeholder="Inserir especificação de <%=content.name%>"
                                           class="form-control" name="specification">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary btn-flat addSpecification"
                                                data-i18n="btns.insert"></button>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <% }); %>

                </div>
                <!-- /.box-body -->
                <div class="box-footer box-comments">
                    <div class="box-body no-padding">
                        <form class="input-group row" category="<%=category._id%>">
                            <input class="form-control" type="text" id="inputContent"
                                   placeholder="Inserir conteúdo de <%=category.subject%>"
                                   name="content">
                                <span class="input-group-addon addon-button">
                                    <button class="addContent"
                                            style="border: none;background-color: transparent;">Adicionar novo conteúdo
                                </span>
                        </form>
                    </div>
                </div>

                <!-- /.box-footer -->
            </div>
            <!-- /.box -->
        </div>
        <% }); %>
    </div>

</div>
<script>
    $(document).ready(function () {
        $('table').DataTable({
            "language": {
                "decimal": "",
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "Showing 0 to 0 of 0 entries",
                "infoFiltered": "(filtered from _MAX_ total entries)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Ver _MENU_ ",
                "loadingRecords": "Loading...",
                "processing": "Processing...",
                "search": "Procurar:",
                "zeroRecords": "No matching records found",
                "paginate": {
                    "first": "First",
                    "last": "Last",
                    "next": "Next",
                    "previous": "Previous"
                },
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                }
            }
        });
    });
</script>