<!--
Sugestão para o menu:
Usar esta pàgina como uma MasterPage, e
consoante as permissões do utilizador (rolls)
apresenta para cosuta:


>Testes: (Faz aparecer uma grid com os diversos testes ativos,
          onde, além de um "preview" do teste (1ª pergunta) apresenta as
          diversas opções)
          >Editar / >Criar / >Apagar (Desabilitar???)

         Seguindo a lógica da app.

>Professores: (Apresentar uma grid com todos os professores na BD e apresentando
               as respetivas opções)
               >Editar / >Criar / >Apagar (Desabilitar???)

>Escolas: (Apresentar uma grid com todas as escolas na BD e apresentando
           as respetivas opções)
           >Editar / >Criar / >Apagar (Desabilitar???)
           Ao clicar numa escola, muda a grid para consulta de todas as turmas
           da escola selecionada.

>Turmas: (Apresentar uma grid com todas as turmas na BD e apresentando
          as respetivas opções)
          >Editar / >Criar / >Apagar (Desabilitar???)
          Ao clicar numa turma, muda a grid para consulta de todos os Alunos
          da Turma selecionada.


>Alunos: (Apresentar uma grid com todos os alunos BD e apresentando
            as respetivas opções)
            >Editar / >Criar / >Apagar (Desabilitar???)

-->
<div class="text-center">

  <img src="../img/letrinhas2.png">
  <img src="../img/ESAG.png"  style="height:200px">

</div>

<div class="col-sm-1" style="position:fixed; left:0px; top:15px;">
  <img src="../img/ipt0.png" style="height:40px">
</div>

<div class="col-sm-1" style="position:fixed; left:0px; bottom:20px;">
  <img src="../img/ESTT2.jpg" align=left style="height:60px">
</div>

<div class="col-sm-11" style="position:fixed; right:0px; bottom:15px; text-align:right">
  <img src="../img/couch.png" style="height:50px">
  <span class="glyphicon glyphicon-transfer" style="font-size:22px"></span>
  <img src="../img/pouch.png" style="height:50px">
  <span class="glyphicon glyphicon-circle-arrow-right" style="font-size:22px"></span>
  <img src="../img/npm.png" style="height:50px">
  <img src="../img/nodeJS.png" style="height:50px">
  <img src="../img/backbone.png" style="height:50px">
  <img src="../img/HTML5.png" style="height:50px">
  <img src="../img/bootstrap.jpg" style="height:50px">

  <span class="glyphicon glyphicon-circle-arrow-right" style="font-size:22px"></span>

  <img src="../img/cordova_256.png" style="height:50px">
  <span class="glyphicon glyphicon-circle-arrow-right" style="font-size:22px"></span>

  <img src="../img/android_platform.png" style="height:50px">
  <img src="../img/windows-10-start-menu-logo.png" style="height:50px">
  <img src="../img/Apple-logo2.png" style="height:50px">
  <img src="../img/blackberry.png" style="height:50px">
  <span class="glyphicon glyphicon-option-horizontal" style="vertical-align:bottom; font-size:22px"></span>

</div>
