<!-- TEMPORARY | Until I find out how to do it on controller -->

<script type="text/javascript">

    $(document).ready(function () {
        try {
            $.fn.fullpage.destroy('all');
            $('#fullpage').fullpage({
                sectionsColor: ['#1bbc9b', '#4BBFC3', '#7BAABE'],
                navigation: true,
                navigationPosition: 'right',
                navigationTooltips: ['Inicio', 'Second page', 'Third and last page']
            });
        }
        catch (err) {
            $('#fullpage').fullpage({
                sectionsColor: ['#1bbc9b', '#4BBFC3', '#7BAABE'],
                navigation: true,
                navigationPosition: 'right',
                navigationTooltips: ['Inicio', 'Second page', 'Third and last page']
            });
        }
        finally {
            $.fn.fullpage.reBuild();
        }
    });

</script>
<!-- ----------------------------------------------------------------- -->
<nav id="topMainBar" class="navbar navbar-default  navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#homeBar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="color: #1F59B5;" href="/#" aria-expanded="false">
        <span>
          <img src="../img/letrinhas2.png" style='height:25px;' title="Projeto final de Engª Informática de:
          Alexandre Carvalho, aluno nº14922
          Artur Gomes, aluno nº17262
          Tiago Fernandes, aluno nº17253
          ESTT-IPT-Tomar 2014/2015">
        </span>
                <label title="Pagina inicial">Letrinhas</label>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="homeBar">
            <ul class="nav navbar-nav">
                <li>

                    <img src="../img/ipt.png">

                </li>
                <li>
                    <img src="../img/ESTT2.png">
                </li>
                <li>
                    <img src="../img/ESAG.png">
                </li>
                <li id="sepProf">
                    <a href="#teachers" aria-expanded="false" title="Ver funcionários">
                        <i class="fa fa-users"></i>
                        Professores
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#user">Perfil</a></li>
                        <li><a href="#">Another action</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">Sair <i class="fa fa-sign-out"></i></a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div id="fullpage">
    <div class="section " id="section0">
        <button id="showlogin" class="btn btn-hero btn-lg backOfficeBtn" role="button">
            <i class="fa fa-cogs"></i>
            <span> Login</span>
        </button>

        <h1 style="text-shadow: 2px 2px #000;">Letrinhas</h1>
        <p style="text-shadow: 2px 2px #000;">A aplicação que permite a avaliação da fluência na leitura dos alunos.</p>
        <br><br>
        <button id="showDownload" class="btn btn-hero btn-lg" role="button">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
            Descarregar a Aplicação
        </button>
    </div>
    <div class="section" id="section1">
        <div class="intro">
            <h1>More Simple yet</h1>
            <p>Sections won't contain anchor links. It's more simple to configure but a bit more restrictive.</p>
        </div>
    </div>


    <div class="section" id="section2">
        <div class="intro">
            <h1>URL without /#</h1>
            <p>But back button won't work!</p>
        </div>
    </div>

</div>


<!-- APP DOWLOAD MODAL -->
<div class="modal fade" id="mApp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">
                    <i class="fa fa-cloud-download fa-lg"></i> &nbsp; Selecione a plataforma pretendida
                </h3>
            </div>

            <div class="modal-body" style="height:170px; padding:0 30px;">

                <div class="media" style="float:left; width:50%; padding:10px 0; margin:0;">
                    <div class="media-left">
                        <a href="../apps/LetrasAndroid.apk">
                            <img class="media-object" src="http://i.imgur.com/U9Iyocy.jpg" alt="..."
                                 style="height:60px">
                        </a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading" style="color:#99cc22;">Android</h3>
                        Disponivel
                    </div>
                </div>

                <div class="media" style="float:left; width:50%; padding:10px 0; margin:0;">
                    <div class="media-left">
                        <a href="">
                            <img class="media-object" src="http://i.imgur.com/ZOtISrq.jpg" alt="..."
                                 style="height:60px">
                        </a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading" style="color:#05ADDA;">Windows Phone</h3>
                        Indisponivel
                    </div>
                </div>
                <div class="media" style="float:left; width:50%; padding:10px 0; margin:0;">
                    <div class="media-left">
                        <a href="">
                            <img class="media-object" src="http://i.imgur.com/jt9Myra.jpg" alt="..."
                                 style="height:60px">
                        </a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading" style="color:#aaaacc;">iOS</h3>
                        Indisponivel
                    </div>
                </div>
                <div class="media" style="float:left; width:50%; padding:10px 0; margin:0;">
                    <div class="media-left">
                        <a href="">
                            <img class="media-object" src="http://i.imgur.com/MUx9arM.jpg" alt="..."
                                 style="height:60px">
                        </a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading" style="color:#000;">BlackBerry</h3>
                        Indisponivel
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>
