<!-- TEMPORARY | Until I find out how to do it on controller -->
<script type="text/javascript" src="assets/js/vendors/jquery.slimscroll.min.js"></script>
<script src="assets/js/jquery.fullPage.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#fullpage').fullpage({
            sectionsColor: ['#1bbc9b', '#4BBFC3', '#7BAABE'],
            navigation: true,
            navigationPosition: 'right',
            navigationTooltips: ['Inicio', 'Second page', 'Third and last page']
        });
    });
</script>
<!-- ----------------------------------------------------------------- -->

<div id="fullpage">


    <div class="section " id="section0">

        <button id="showlogin" class="btn btn-hero btn-lg backOfficeBtn" role="button">
            <i class="fa fa-cogs"></i>
            <span>&nbsp; &nbsp; Administração</span>
        </button>

        <h1 style="text-shadow: 2px 2px #000;">Letrinhas</h1>
        <p style="text-shadow: 2px 2px #000;">A aplicação que permite a avaliação da fluência na leitura dos alunos.</p>
        <br><br>
        <button id="showDownload" class="btn btn-hero btn-lg" role="button">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
            Descarregar a Aplicação
        </button>
    </div>


    <div class="section" id="section1">
        <div class="intro">
            <h1>More Simple yet</h1>
            <p>Sections won't contain anchor links. It's more simple to configure but a bit more restrictive.</p>
        </div>
    </div>


    <div class="section" id="section2">
        <div class="intro">
            <h1>URL without /#</h1>
            <p>But back button won't work!</p>
        </div>
    </div>


</div>


<!-- APP DOWLOAD MODAL -->
<div class="modal fade" id="mApp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">
                    <i class="fa fa-cloud-download fa-lg"></i> &nbsp; Selecione a plataforma pretendida
                </h3>
            </div>

            <div class="modal-body" style="height:170px; padding:0 30px;">

                <div class="media" style="float:left; width:50%; padding:10px 0; margin:0;">
                    <div class="media-left">
                        <a href="../apps/LetrasAndroid.apk">
                            <img class="media-object" src="http://i.imgur.com/U9Iyocy.jpg" alt="..."
                                 style="height:60px">
                        </a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading" style="color:#99cc22;">Android</h3>
                        Disponivel
                    </div>
                </div>

                <div class="media" style="float:left; width:50%; padding:10px 0; margin:0;">
                    <div class="media-left">
                        <a href="">
                            <img class="media-object" src="http://i.imgur.com/ZOtISrq.jpg" alt="..."
                                 style="height:60px">
                        </a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading" style="color:#05ADDA;">Windows Phone</h3>
                        Indisponivel
                    </div>
                </div>
                <div class="media" style="float:left; width:50%; padding:10px 0; margin:0;">
                    <div class="media-left">
                        <a href="">
                            <img class="media-object" src="http://i.imgur.com/jt9Myra.jpg" alt="..."
                                 style="height:60px">
                        </a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading" style="color:#aaaacc;">iOS</h3>
                        Indisponivel
                    </div>
                </div>
                <div class="media" style="float:left; width:50%; padding:10px 0; margin:0;">
                    <div class="media-left">
                        <a href="">
                            <img class="media-object" src="http://i.imgur.com/MUx9arM.jpg" alt="..."
                                 style="height:60px">
                        </a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading" style="color:#000;">BlackBerry</h3>
                        Indisponivel
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>


<!-- LOGIN MODAL -->
<div class="modal fade" id="mLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title"><img src="../img/letrinhas2.png" style="height:65px;"> Controlo de acesso</h3>
            </div>
            <div class="modal-body">
                <!-- Email -->

                <div class="col-sm-12">
                    <input id="userEmail" class="form-control" placeholder="E-mail" name="email" type="email"
                           autofocus autocomplete="on">
                    <span id="imgMail" class="glyphicon glyphicon-envelope"></span>
                </div>

                <!-- Password -->

                <div class="col-sm-12">
                    <input id="psswrd" class="form-control" placeholder="Palavra-passe" name="password"
                           type="password">
                    <span id="pwdIcon" class="glyphicon glyphicon-lock"></span>
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" id="loginbtn" class="btn btn-lg btn-login btn-block">Entrar</button>
            </div>
        </div>
    </div>
</div>


