<nav id="topMainBar" class="navbar navbar-default  navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="color: #1F59B5;" href="/#" aria-expanded="false">
        <span>
          <img src="../img/letrinhas2.png" style='height:25px;' title="Projeto final de Engª Informática de:
          Alexandre Carvalho, aluno nº14922
          Artur Gomes, aluno nº17262
          Tiago Fernandes, aluno nº17253
          ESTT-IPT-Tomar 2014/2015">
        </span>
                <label title="Pagina inicial">Letrinhas</label>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#questions" aria-expanded="false" title="Ver perguntas">
                        <i class="fa fa-question"></i>
                        Perguntas
                    </a>
                </li>
                <li>
                    <a href="#tests" aria-expanded="false" title="Ver perguntas">
                        <i class="fa fa-file-text-o"></i>
                        Testes
                    </a>
                </li>
                <li>
                    <a href="#resolutions" aria-expanded="false" title="Ver resoluções">
                        <i class="fa fa-check-square-o"></i>
                        Resoluções
                    </a>
                </li>
                <li>
                    <a href="#schools" aria-expanded="false" title="Ver escolas">
                        <i class="fa fa-university"></i>
                        Escolas
                    </a>
                </li>
                <li>
                    <a href="#students" aria-expanded="false" title="Ver alunos">
                        <i class="fa fa-graduation-cap"></i>
                        Alunos
                    </a>
                </li>
                <li id="sepProf">
                    <a href="#teachers" aria-expanded="false" title="Ver funcionários">
                        <i class="fa fa-users"></i>
                        Professores
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a id="userName" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                    </a>

                    <ul class="dropdown-menu">
                        <li><a href="#user">Perfil</a></li>
                        <li><a href="#">Another action</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">Sair <i class="fa fa-sign-out"></i></a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>