<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-sidebar-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a>Total: <label id="questionsBadge" class=""><%=collection.length%></label>
                     <span style="font-size:16px;"
                           class="pull-right hidden-xs showopacity fa fa-question"></span>
                </a></li>
                <li>
                    <input id="txtSearch" type="text" class="form-control" placeholder="Pesquisar"
                           aria-describedby="basic-addon2">
                </li>
                <li>
                    <a id="orderBy" class="order">Ordenar
                        <span style="font-size:16px;"
                              class="pull-right hidden-xs showopacity fa fa-sort-alpha-desc"></span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Inserir <span
                            class="caret"></span><span
                            style="font-size:16px;"
                            class="pull-right hidden-xs showopacity fa fa-plus-circle"></span></a>
                    <ul class="dropdown-menu forAnimate" role="menu">
                        <li><a href="#questionsText/new" id="textTestbtn" class="order">
                            <img src="../../img/text.png" style="height:20px">
                            <span> Texto </span></a></li>
                        <li><a href="#multimediaTest/new" id="multimediaTestbtn" class="order">
                            <img src="../../img/multimedia.png" style="height:20px">
                            <span> Multimédia </span></a>
                        </li>
                        <li><a href="#questionslist/new" id="listTestbtn" class="order">
                            <img src="../../img/list.png" style="height:20px">
                            <span> Lista </span></a>
                        </li>
                        <li><a href="#interpretationTest/new" id="interpretationTestbtn" class="order">
                            <img src="../../img/interpretation.png" style="height:20px">
                            <span> Interpretação </span></a>
                        </li>

                        <li class="divider"></li>
                        <li><a href="#whitespaces/new" class="order">
                            <img src="../../img/whitespaces.png" style="height:20px">
                            <span> Espaços </span></a></li>
                        <li><a href="#connections/new" class="order">
                            <img src="../../img/connections.png" style="height:20px">
                            <span> Ligações </span></a>
                        </li>
                        <li><a class="order">
                            <img src="../../img/regions.png" style="height:20px">
                            <span> Regiões </span></a>
                        </li>
                        <li><a href="#questionsBoxes/new" class="order">
                            <img src="../../img/boxes.png" style="height:20px">
                            <span> Caixas </span></a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Filtrar por tipo <span
                            class="caret"></span><span
                            style="font-size:16px;"
                            class="pull-right hidden-xs showopacity fa fa-filter"></span></a>
                    <ul class="dropdown-menu forAnimate" role="menu">
                        <li><a class="filter">
                            <input type="checkbox" value="text" checked>
                            <img src="../../img/text.png" style="height:20px">
                            <span> Texto </span></a></li>
                        <li><a class="filter">
                            <input type="checkbox" value="multimedia" checked>
                            <img src="../../img/multimedia.png" style="height:20px">
                            <span> Multimédia </span></a>
                        </li>
                        <li><a class="filter">
                            <input type="checkbox" value="list" checked>
                            <img src="../../img/list.png" style="height:20px">
                            <span> Lista </span></a>
                        </li>
                        <li><a class="filter">
                            <input type="checkbox" value="interpretation" checked>
                            <img src="../../img/interpretation.png" style="height:20px">
                            <span> Interpretação </span></a>
                        </li>

                        <li class="divider"></li>
                        <li><a class="filter">
                            <input type="checkbox" value="whitespaces" checked>
                            <img src="../../img/whitespaces.png" style="height:20px">
                            <span> Espaços </span></a></li>
                        <li><a class="filter">
                            <input type="checkbox" value="connections" checked>
                            <img src="../../img/connections.png" style="height:20px">
                            <span> Ligações </span></a>
                        </li>
                        <li><a class="filter">
                            <input type="checkbox" value="regions" checked>
                            <img src="../../img/regions.png" style="height:20px">
                            <span> Regiões </span></a>
                        </li>
                        <li><a class="filter">
                            <input type="checkbox" value="boxes" checked>
                            <img src="../../img/boxes.png" style="height:20px">
                            <span> Caixas </span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id="questionsDiv" class="mainDiv">


    <div class="panel-scroll col-md-5" align="center">
        <div class="col-md-12">
            <section class="panel subMenu">

                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-filter"></i>
                            Disciplina
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu" id="filterSubject" filter="">
                            <li class="dropdown-submenu pull-left">
                                <a class=" contentFilter"
                                   data-toggle="dropdown"
                                   value=""
                                   aria-expanded="false">Ver todas</a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </section>
            <!-- END REGIONAL STATS PORTLET-->
        </div>
        <div id="questionsContent" class=" panel-body col-md-12" align="center">

            <% _.each(collection,function(question){ %>
            <div class="listButton divWidget row" value=" <%= question.subject %>"
                 id='<%= question._id %>' type="<%= question.type %>"
            <% if ( question.profID == window.sessionStorage.getItem('username') ){ %>
            style="background-color:#FBF6B4"
            <% } %>
            >

            <img src="../img/<%= question.type %>.png">
            <img src='../img/<%= question.subject.split(":")[0] %>.png'>
            <span><%= question.title %></span>
            <i class="fa fa-eye"></i>
        </div>
        <% }); %>
    </div>

</div>
<div class="col-md-7" style="padding: 15px 30px; " align="center">
    <div id="questionsPreview" class="col-md-12 divWidget" align="center">
        <label class="dataTitle col-md-12 row"><%= collection[0].title %>
            <hr class="dataHr">
        </label>
        <div class="form-group">
            <label class="col-md-3 lblDataDetails">Pergunta:</label>
            <label class="col-md-9 "><%= collection[0].question %></label></div>
        <!--Se a pergunta for de texto obtem o html da preview-->
        <% if ( collection[0].type == 'text'){ %>
        <%print(getTextPreview(collection[0])) %>
        <% } %>
        <!--Se a pergunta for de Lista obtem o html da preview-->
        <% if ( collection[0].type == 'list'){ %>
        <%print(setListPreview(collection[0])) %>
        <% } %>
        <!--Se a pergunta for de Multimedia obtem o html da preview-->
        <% if ( collection[0].type == 'multimedia'){ %>
        <%print(setMultimediaPreview(collection[0])) %>
        <% } %>
        <!--Se a pergunta for de Interpretacao obtem o html da preview-->
        <% if ( collection[0].type == 'interpretation'){ %>
        <%print(setInterpretationPreview(collection[0])) %>
        <% } %>

    </div>
</div>
</div>
