<div class="col-md-8 col-xs-8">
    <div class="divWidget">
        gefvxczz
        vcx
        fdsfsdf
        fdsfdsf
        dsfdsfds
        dsfgefvxczz
        vcx
        fdsfsdf
        fdsfdsf
        dsfdsfds
        dsfgefvxczz
        vcx
        fdsfsdf
        fdsfdsf
        dsfdsfds
        dsfgefvxczz
        vcx
        fdsfsdf
        fdsfdsf
        dsfdsfds
        dsf
    </div>
</div>
<div class="col-md-4 col-xs-4">
    <div class="col-md-12">
        <div class=" divWidget">
            gefvxczz
            vcx
            fdsfsdf
            fdsfdsf
            dsfdsfds
            dsfgefvxczz
            vcx
            fdsfsdf
            fdsfdsf
            dsfdsfds
            dsf
        </div>
    </div>
    <div class="col-md-12">
        <div class=" divWidget">
            gefvxczz
            vcx
            fdsfsdf
            fdsfdsf
            dsfdsfds
            dsfgefvxczz
            vcx
            fdsfsdf
            fdsfdsf
            dsfdsfds
            dsf
        </div>
    </div>
</div>