<div class="form">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div align="center" class="titleBox">
                <img class="titleImage">
        <span class="titleText">
           <img src="../img/list.png" style="height:40px;">
       Correcção de pergunta de Texto
        </span>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <img class="smallImgPreView" src="<%=model.student.b64 %>">
                <span><%= model.student.name %> (<%= model.resolutionDate %>)</span>
                <i id="infoPop" class="fa fa-info-circle" style="float: right;"></i>
            </div>
            <div class="panel-body">
                <form id="newListTestForm" role="form" method="POST" action="/questions" enctype="multipart/form-data">

                    <!-- TUTULO-DISCIPLINA-ANOESCOLAR -->

                    <div class="col-sm-6 row">
                        <div class="input-group">
                            <span class="input-group-addon btn-white"><i class="fa fa-tag"></i></span>
                            <input type="text" class="form-control"
                                   placeholder=" <%=model.question.title%>" disabled>
                        </div>

                    </div>
                    <!-- PERGUNTA-DESCRIÇÃO -->
                    <div class="col-sm-6 row">
                        <div class="input-group">
                            <span class="input-group-addon btn-white"><i class="fa fa-question"></i></span>
                            <input type="text" class="form-control" placeholder=" <%=model.question.question%>"
                                   disabled>
                        </div>

                    </div>
                    <!--Coloca as palavras na div divididas por span com o id=index da palavra-->
                    <div class="col-md-12" id="questionBox">
                        <div class="questBox">
                            <% var num=0 %>
                            <% _.each(model.question.content.text.split('\n'),function(paragraph){ %>
                            <% _.each(paragraph.split(' '),function(word, iword){ %>
                            <span id="wd<%=num%>"><%=word%></span> <% num++ %><% }); %><br><% }); %>
                        </div>
                    </div>

                    <!-- Audio -->
                    <div class="col-sm-12">
                        <h4>Áudio</h4>
                        <hr style="background-color: #b0aac2;">
                    </div>
                    <div class="col-md-6">
                        <label class="col-md-12">Professor:</label>
                        <audio class="col-md-12" controls="controls">
                            <source src="<%=model.audioProf%>"
                                    type=" audio/mp3">
                        </audio>
                    </div>
                    <div class="col-md-6">
                        <label class="col-md-12">Aluno:</label>
                        <audio class="col-md-12" controls="controls">
                            <source src="<%=model.audioStudent%>"
                                    type="audio/mp4">
                        </audio>
                    </div>
                    <!-- Correction -->
                    <div class="col-sm-12">
                        <h4>Correcção</h4>
                        <hr style="background-color: #b0aac2;">
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon btn-white"><i class="fa fa-exclamation"></i></span>
                            <select class="form-control" name="ponctuation">
                                <option disabled selected>Pontuação</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon btn-white"><i class="fa fa-comment-o"></i></span>
                            <select class="form-control" name="inflection">
                                <option disabled selected>Entoação</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon btn-white"><i class="fa fa-bars"></i></span>
                            <select class="form-control" name="inflection">
                                <option disabled selected>Texto</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <br>
                        <div class="col-sm-5 col-md-offset-7">
                            <div class="col-sm-6">
                                <button id="backbtn" type="reset" class="btn btn-default btn-block btn-cancel">
                                    Cancelar
                                </button>
                            </div>
                            <div class="col-sm-6">
                                <button id="confCorrection" type="submit" class="btn btn-success btn-block btn-created"
                                        title="Concluir correcção">
                                    Concluir
                                </button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
