<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 align="center" class="topcoat-navigation-bar__title">Editar Escola</h1>

    </div>
</div>
<div>
    <legend>Dados Escola</legend>
    <form id="schooleditform" role="form" method="POST" action="/schools" enctype="multipart/form-data">
        <div class="form-group">

            <label for="schoolName">Nome</label>
            <input type="text" class="form-control" id="schoolName" placeholder="Nome" name="name">

            <label for="schoolAddress">Morada</label>
            <input type="text" class="form-control" id="schoolAddress" placeholder="Morada" name="address">


            <div class="form-group">
                <label for="filePicker">Logotipo:</label>
                <input type="file" id="filePicker" name="file">
                <input type="text" id="base64textarea" name="b64">
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <button id="cancelbtn" type="reset" class="btn btn-lg btn-default btn-block btn-cancel">
                        Cancelar
                    </button>
                </div>
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-lg btn-success btn-block btn-created">Submeter</button>
                </div>
            </div>

        </div>
    </form>
</div>
