<!--FORMULARIO -->
<div class="form">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div align="center" class="titleBox">
                <img class="titleImage">
        <span class="titleText">
            Inserir nova escola
        </span>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading"><i class="fa fa-gears"></i> Detalhes</div>
            <div class="panel-body">
                <form id="newschoolform" role="form" method="POST" action="/schools" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="col-md-5">

                            <div class="profile-pic">
                                <input type="file" class="form-control preenche" id="filePicker" accept="image/jpg"
                                       name="img" style="background-color:#e9e9ff;">
                                <img id="iFoto">
                                <input type="hidden" id="base64textarea" class="form-control"
                                       accept="image/jpg" name="b64">
                                <div class="emptyState-container"><i class="fa fa-image fa-2x"></i></div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="col-md-12 row">
                                <input type="text" class="form-control preenche" id="InputNome"
                                       placeholder="Nome" name="name">
                                <span class="glyphicon "><i class="fa fa-institution"></i></span>
                            </div>
                            <div class="col-md-12 row">
                                <input type="text" class="form-control preenche" id="InputMorada"
                                       placeholder="Morada" name="address">
                                <span class="glyphicon "><i class="fa fa-map"></i></span>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="btn-group" role="group" aria-label="...">
                            <button id="backbtn" type="reset" class="btn btn-default">Cancelar</button>
                            <button id="subEscola" type="submit" class="btn btn-success">Inserir</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

