<!--FORMULARIO -->
<div class="form">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div align="center" class="titleBox">
                <img class="titleImage">
        <span class="titleText">
            Inserir nova escola
        </span>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading"><i class="fa fa-gears"></i> Detalhes</div>
            <div class="panel-body">
                <form id="newschoolform" role="form" method="POST" action="/schools" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="col-md-12 center-child">
                                <img id="iFoto" src="../img/changePic.jpg" name="fds">
                                <div class="upload form-control">
                                    <span>Alterar</span>
                                    <input type="file" id="filePicker" class="form-control mandatory"
                                           accept="image/jpg"
                                           name="filePicker">
                                    <input type="hidden" id="base64textarea" class="form-control"
                                           accept="image/jpg" name="b64">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="col-md-12 row">
                                <input type="text" class="form-control preenche" id="InputNome"
                                       placeholder="Nome" name="name">
                                <span class="glyphicon "><i class="fa fa-institution"></i></span>
                            </div>
                            <div class="col-md-12 row">
                                <input type="text" class="form-control preenche" id="InputMorada"
                                       placeholder="Morada" name="address">
                                <span class="glyphicon "><i class="fa fa-map"></i></span>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="btn-group" role="group" aria-label="...">
                            <button id="backbtn" type="reset" class="btn btn-default">Cancelar</button>
                            <button id="subEscola" type="submit" class="btn btn-success">Submeter</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

