<!---->
<div class="form">
    <div class="col-md-6">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-aqua-active">
                <h3 class="widget-user-username"><%=name%></h3>
                <h5 class="widget-user-desc"><%=schoolName%>, <%=classe%></h5>
            </div>
            <div class="widget-user-image">
                <img class="img-circle" src="<%=b64%>" alt="User Avatar">
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                            <h5 class="description-header"><%=unsolvedTests.length%></h5>
                            <span class="description-text">Testes por resolver</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                            <h5 class="description-header">13,000</h5>
                            <span class="description-text"><%=name%></span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4">
                        <div class="description-block">
                            <h5 class="description-header"><%=solvedTests.length%></h5>
                            <span class="description-text">Testes resolvidos</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.widget-user -->
    </div>
    <div class="col-md-6" id="generalGraph">

    </div>
    <div class="col-md-12">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-table"></i> Tabela - Perguntas corrigidas</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: block;">
                <table class="table table-striped table-letr" cellspacing="0">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th data-i18n="questions.question"></th>
                        <th data-i18n="type"></th>
                        <th data-i18n="subject"></th>
                        <th data-i18n="note"></th>
                        <th data-i18n="btns.edit"></th>
                        <th data-i18n="btns.delete"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <% _.each(resolutions,function(resolution){ %>

                    <tr>
                        <td>
                            <a href="#test/<%=resolution._id%>" data-skin="skin-green"
                               class="btn bg-purple btn-xs">
                                <i class="fa fa-eye"></i>
                            </a>
                        </td>
                        <td><p class="hidden"><%=resolution.type%></p>
                            <img src=" ../../img/<%=resolution.type%>.png" style="height:20px">
                        </td>
                        <td>
                            <p class="hidden"><%= resolution.subject%></p>
                            <%= console.log(resolution.subject) %>
                            <img src=" ../img/<%= resolution.subject.split(':')[0] %>.png"
                                 style="height:20px">
                        </td>
                        <td> <%=resolution.resolutionDate%></td>
                        <td> <%=resolution.note%></td>
                        <td class="text-right">
                            <a href="#" data-skin="skin-blue" class="btn btn-primary btn-xs">
                                <i class="fa fa-edit"></i></a></td>
                        <td class="text-center"><a href="#" data-skin="skin-yellow-light"
                                                   class="btn btn-warning btn-xs">
                            <i class="fa fa-trash"></i></a></td>
                    </tr>
                    <% }); %>

                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-line-chart"></i> Gráfico - Perguntas corrigidas</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                            class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: block;" id="subjectGraphs">
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <div class="col-md-12">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-table"></i> Tabela - Testes corrigidos</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: block;">
                <table class="table table-striped table-letr" cellspacing="0">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th data-i18n="categories.specification"></th>
                        <th data-i18n="btns.edit"></th>
                        <th data-i18n="btns.edit"></th>
                        <th data-i18n="btns.edit"></th>
                        <th data-i18n="btns.edit"></th>
                        <th data-i18n="btns.delete"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <% _.each(solvedTests,function(solvedTest){ %>

                    <tr>
                        <td>
                            <a href="#test/<%=solvedTest._id%>" data-skin="skin-green"
                               class="btn bg-purple btn-xs">
                                <i class="fa fa-eye"></i>
                            </a>
                        </td>
                        <td> <%=solvedTest.title%></td>
                        <td> <%=solvedTest.questions.length%></td>
                        <td><img src=" ../img/<%= solvedTest.subject.split(':')[0] %>.png"
                                 style="height:20px"></td>

                        <td> <% if ( solvedTest.note != '-1'){ %>
                            <%print(solvedTest.note +'%') %>
                            <% }else{%>
                            <a href="#resolutions/<%=solvedTest._id%>" title="Corrigir">
                                <i class="fa fa-check-square-o fa-2x"></i>
                            </a>
                            <% } %>
                        </td>
                        <td class="text-right">
                            <a href="#" data-skin="skin-blue" class="btn btn-primary btn-xs">
                                <i class="fa fa-edit"></i></a></td>
                        <td class="text-center"><a href="#" data-skin="skin-yellow-light"
                                                   class="btn btn-warning btn-xs">
                            <i class="fa fa-trash"></i></a></td>
                    </tr>
                    <% }); %>

                    </tbody>
                </table><!--Group by test -->

            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <div class="col-md-12">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-commenting-o"></i> Gráfico - Perguntas de leitura</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: block;" id="readingGraphs">

            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <div class="col-md-4 ">
        <div class="row divWidget">
            <img src="<%=b64%>"
                 class="dataImage">
            <div class="col-md-12">
                <hr class="dataHr">
            </div>

            <label class="col-md-12 lblDataDetails"><%=name%></label>
            <label class="col-md-12 dataSubTitle"><%=schoolName%>, <%=classe%></label>
            <div class="col-md-12">
                <hr class="dataHr">
            </div>
            <label class="col-md-8 lblDataDetails">Testes por resolver :</label>
            <label class="col-md-4"><%=unsolvedTests.length%></label>
            <label class="col-md-8 lblDataDetails">Testes resolvidos :</label>
            <label class="col-md-4"><%=solvedTests.length%></label>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        setDataTables();

    });
</script>