<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-sidebar-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a>Total: <label id="studentsBadge" class=""><%=collection.length%></label>
                     <span style="font-size:16px;"
                           class="pull-right hidden-xs showopacity fa fa-graduation-cap"></span>
                </a></li>
                <li>
                    <input id="txtSearch" type="text" class="form-control" placeholder="Pesquisar"
                           aria-describedby="basic-addon2">
                </li>
                <li class="active">
                    <a id="orderBy" class="order">Ordenar
                        <span style="font-size:16px;"
                              class="pull-right hidden-xs showopacity fa fa-sort-alpha-desc"></span>
                    </a>
                </li>
                <li>
                    <a href="#students/new">Inserir
                        <span style="font-size:16px;"
                              class="pull-right hidden-xs showopacity glyphicon glyphicon-plus-sign"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id="studentsDiv" class="mainDiv">

    <% var classes =_.groupBy(collection, 'schoolDetails'); %>
    <% _.each(classes,function(classe,iClass){ %>
    <h3><i class="fa fa-university"></i> <%=iClass%></h3>
    <hr class="card-grid-hr">
    <% _.each(classe,function(student){ %>
    <div class="card-grid animated bounceInUp">
        <div class="front">
            <img src="<%= student.b64 %>" class="card-grid-img">
            <% var abrName=(student.name).split(" ") %>
            <span class="card-grid-span"><%= abrName[0]%> <%= abrName[abrName.length-1]%> </span>
        </div>
        <div class="back">
            <span><i class="fa fa-user"></i>  <%=student.name%> <b>(<%=student.username%>)</b></span><br>
            <hr class="card-grid-hr">
            <span><i class="fa fa-university"></i> <%=student.schoolDetails%></span><br>
            <hr class="card-grid-hr">
            <span><i class="fa fa-graduation-cap"></i> <%=student.number%></span><br>
            <hr class="card-grid-hr">
            <div class="col-md-4 col-xs-4">
                <a href="#students/<%=student._id%>/info" class="card-grid-a">
                    <i class="fa fa-pie-chart"></i>
                </a>
            </div>
            <div class="col-md-4 col-xs-4">
                <a href="#students/<%=student._id%>/edit" class="card-grid-a">
                    <i class="fa fa-edit"></i>
                </a>
            </div>
            <div class="col-md-4 col-xs-4">
                <a class="deleteStudent card-grid-a" id="<%=student._id%>" value="<%=student.name%>">
                    <i class="fa fa-trash"></i>
                </a>
            </div>
        </div>
    </div>
    <% }); %>
    <% }); %>

    <% _.each(collection,function(student){ %>


    <% }); %>
</div>


<script>
    $(".card-grid").flip({trigger: 'hover'});
</script>