<div class="form">
    <div class="col-md-4 ">
        <div class="row divWidget">
            <img src="<%=b64%>"
                 class="dataImage">
            <div class="col-md-12">
                <hr class="dataHr">
            </div>

            <label class="col-md-12 lblDataDetails"><%=name%></label>
            <label class="col-md-12 dataSubTitle"><%=schoolName%>, <%=classe%></label>
            <div class="col-md-12">
                <hr class="dataHr">
            </div>
            <label class="col-md-8 lblDataDetails">Testes por resolver :</label>
            <label class="col-md-4"><%=unsolvedTests.length%></label>
            <label class="col-md-8 lblDataDetails">Testes resolvidos :</label>
            <label class="col-md-4"><%=solvedTests.length%></label>
        </div>
    </div>
    <div class="col-md-8 ">
        <div class="row divWidget">
            <!--Recolhe as estatisticas do aluno-->
            <%=getStudentStatistics(resolutions)%>
            <script>
                $(document).ready(function () {
                    $('table.highchart').bind('highchartTable.beforeRender', function (event, highChartConfig) {
                        highChartConfig.colors = ['#92cabc', '#f8d6dd', '#228E8E', '#CCFFFF', '#00CCCC', '#3399CC'];
                    }).highchartTable();
                });
            </script>
        </div>
    </div>
</div>