
<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 align="center" class="topcoat-navigation-bar__title">Editar Aluno</h1>

    </div>
</div>
<div>
    <legend>Dados Aluno</legend>
    <form id="editstudentform" role="form" method="POST" action="/students" enctype="multipart/form-data">
        <div class="form-group">
            <label for="studentName">Nome</label>
            <input type="text" class="form-control" id="studentName" placeholder="Nome" name="name">
            <label for="studentNumber">Número de Aluno</label>
            <input type="number" class="form-control" id="studentNumber" placeholder="Numero" name="number">


            <div class="form-group">
                <label for="filePicker">Foto:</label>
                <input type="file" id="filePicker" name="file">
                <input type="text" id="base64textarea" name="b64">
            </div>


        </div>


        <div class="row">
            <div class="col-sm-6">
                <button id="backbtn" type="reset" class="btn btn-lg btn-default btn-block btn-cancel">Cancelar</button>
            </div>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-lg btn-success btn-block btn-created">Submeter</button>
            </div>
        </div>
    </form>
</div>
