<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-sidebar-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a>Total: <label id="studentsBadge" class=""><%=collection.length%></label>
                     <span style="font-size:16px;"
                           class="pull-right hidden-xs showopacity fa fa-graduation-cap"></span>
                </a></li>
                <li>
                    <input id="txtSearch" type="text" class="form-control" placeholder="Pesquisar"
                           aria-describedby="basic-addon2">
                </li>
                <li class="active">
                    <a id="orderBy" class="order">Ordenar
                        <span style="font-size:16px;"
                              class="pull-right hidden-xs showopacity fa fa-sort-alpha-desc"></span>
                    </a>
                </li>
                <li>
                    <a href="#students/new">Inserir
                        <span style="font-size:16px;"
                              class="pull-right hidden-xs showopacity glyphicon glyphicon-plus-sign"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id="studentsDiv" class="mainDiv">
    <div class="panel-scroll col-md-5" align=center>

        <div id="studentsContent" class=" panel-body col-md-12" align=center>
            <% _.each(collection,function(student){ %>
            <div class="listButton divWidget row"
                 id='<%= student._id %>' value="<%= student.name %>">

                <img src="<%= student.b64 %>">
                <span><%= student.name %></span>
                <i class="fa fa-eye"></i>

            </div>
            <% }); %>

        </div>
    </div>


    <div class="col-md-7" style="padding: 30px; " align="center">
        <div id="studentsPreview" class="col-md-12 divWidget" align="center">
        </div>
    </div>
</div>

