<div id="studentsDiv" class="mainDiv">
    <div class="col-md-12">
        <section class="panel subMenu">

            <ul class="nav navbar-nav">
                <li><a>Total:<%= collection.length %> <label id="studentsBadge" class=""></label>
                </a></li>
                <li>
                    <div class="input-group" style="width: 350px;padding-top: 11px;">
                        <input id="txtSearch" type="text" class="form-control" placeholder="Pesquisar"
                               aria-describedby="basic-addon2">
                        <span class="input-group-addon"> <i class="fa fa-search"></i></span>
                    </div>
                </li>
                <li><a id="orderBy" class="order"><i class="fa fa-sort-alpha-asc"></i> </a></li>

                <li><a href="#students/new" title="Adicionar escola">
                    <i class="fa fa-graduation-cap"><span class="badge-over">  <i class="fa fa-plus-circle"></i></span></i>

                </a></li>
            </ul>

        </section>
        <!-- END REGIONAL STATS PORTLET-->
    </div>
    <div class="panel-scroll col-md-5" align=center>

        <div id="studentsContent" class=" panel-body col-md-12" align=center>
            <% _.each(collection,function(student){ %>
            <div class="row">
                <div class="listButton divWidget"
                     id='<%= student._id %>' value="<%= student.name %>">

                    <img src="<%= student.b64 %>">
                    <span><%= student.name %></span>
                    <div class="editDeleteOp">
                        <a href="#students/<%= student._id %>/edit" title="Editar aluno">
                            <i id="btnEdit" class="fa fa-edit"></i>
                        </a>
                        <a href="#students" class="delete" title="Apagar aluno">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </div>

                </div>

            </div>
            <% }); %>

        </div>
    </div>


    <div class="col-md-7" style="padding: 30px; " align="center">
        <div id="studentsPreview" class="col-md-12 divWidget" align="center">
        </div>
    </div>
</div>

