<!-- Edicao Professor: -->

<!--FORMULARIO -->
<div id="editTeacherView" class="divWidget form">
    <!-- tabs left -->
    <div align="center" class="titleBox">
        <img class="titleImage">
        <span class="titleText">
            Editar dados do Professor
        </span>
    </div>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Detalhes</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <form id="frmEditDetails" class="panel-body">
                    <div class="col-md-2">
                        <img id="iFoto" class="col-md-12" src="../img/changePic.jpg">
                        <div class="upload form-control">
                            <span>Alterar</span>
                            <input type="file" id="filePicker" class="form-control mandatory"
                                   accept="image/jpg"
                                   name="filePicker"
                                   required>
                            <input type="hidden" id="base64textarea" class="form-control"
                                   accept="image/jpg" name="imgb64">
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-9">
                                <input class="form-control mandatory" type="text" id="InputNome"
                                       placeholder="Nome completo"
                                       name="name" required/>
                                <span class="glyphicon glyphicon-user"></span>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control" id="selectEstado" name="estado">
                                    <option>Ativo</option>
                                    <option>Não Ativo</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <input type="email" class="form-control mandatory" id="inputEmail"
                                   title="Endereço de e-mail" name="email" placeholder="Endereço de e-mail"
                                   readonly="readonly"/>
                            <span id="imgMail" class="glyphicon glyphicon-envelope"></span>
                        </div>
                        <div class="col-md-4">
                            <input type="number" min="210000000" max="999999999"
                                   class="form-control mandatory"
                                   id="InputTelefone" placeholder="Telefone" name="telefone" required>
                            <span class="glyphicon glyphicon-earphone"></span>
                        </div>
                        <div class="col-md-12">
                            <label id="validationLbl" class="alert-warning"></label>
                        </div>
                        <!-- Botoes-->

                    </div>
                    <div class="col-sm-12">
                        <div class="btn-group">
                            <button id="btnEditDetails" type="submit" class="btn btn-success">Guardar
                                alterações
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Segurança</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">

                    <form id="frmEditPasswd" enctype="multipart/form-data">
                        <div class="col-sm-6">
                            <div class="row col-sm-12">
                                <input type="password" class="form-control mandatory" id="txtOldPasswd"
                                       placeholder="Palavra-passe antiga"
                                       name="oldPswd" required>
                                <span class="glyphicon"><i class="fa fa-unlock"></i></span>
                            </div>
                            <div class="row col-sm-12">
                                <input type="password" class="form-control mandatory" id="txtNewPassword"
                                       placeholder="Palavra-passe nova" name="newPswd" required>
                                <span id="pwdIcon" class="glyphicon"><i class="fa fa-lock"></i></span>
                            </div>
                            <div class="row col-sm-12">
                                <input type="password" class="form-control mandatory" id="txtConfPassword"
                                       placeholder="Confirmar palavra-passe nova" required>
                                <span class="glyphicon"><i class="fa fa-lock"></i></span>
                            </div>
                            <div class="row col-sm-12">
                                <div class="btn-group">
                                    <button id="btnEditPsw" type="submit" class="btn btn-success">Alterar
                                        palavra-passe
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="row col-sm-12">
                                <input type="text" max="9999" class="form-control mandatory" id="txtOldPin"
                                       placeholder='Pin(para usar no Tablet)' name="codPin" required>
                                <span class="glyphicon glyphicon-modal-window"></span>
                            </div>
                            <div class="row col-sm-12">
                                <input type="text" max="9999" class="form-control mandatory" id="txtNewPin"
                                       placeholder='Pin(para usar no Tablet)' name="codPin" required>
                                <span class="glyphicon glyphicon-modal-window"></span>
                            </div>
                            <div class="row col-sm-12">
                                <div class="btn-group">
                                    <button id="btnUpdatePin" type="submit" class="btn btn-success">Alterar pin</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Turmas</a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse in">
                <div class="panel-body">
                    <legend>Turmas associadas</legend>
                    <div id="classesList" class="col-md-12" align="center">
                    </div>
                    <legend>Adicionar Turmas</legend>
                    <div class="row">
                        <div class="col-sm-5">
                            <div id="selectEscolas" class="input-group m-bot15">
                                <span class="input-group-addon btn-white"><i class="fa fa-university"></i></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div id="selectTurmas" class="input-group m-bot15">
                            </div>
                        </div>
                        <div class="col-sm-4 col-bottom" style="float: right;">
                            <button id="addTurma" type="button" class="btn btn-success">
                                <span class="glyphicon glyphicon glyphicon-plus"></span>
                            </button>
                        </div>

                    </div>
                    <div id="assocTurma" class="col-sm-12">
                    </div>
                    <!-- Botoes-->
                    <div class="col-lg-6">
                        <div class="input-group my-group">

                            <input type="text" class="form-control" name="snpid" placeholder="Test"><select id="lunch"
                                                                                                            class="selectpicker form-control"
                                                                                                            data-live-search="true"
                                                                                                            title="Please select a lunch ...">
                            <option>Hot Dog, Fries and a Soda</option>
                            <option>Burger, Shake and a Smile</option>
                            <option>Sugar, Spice and all things nice</option>
                            <option>Baby Back Ribs</option>
                            <option>A really really long option made to illustrate an issue with the live search in an
                                inline form
                            </option>
                        </select>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">GO!</button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </div>
                    <div class="col-sm-12">
                        <div class="btn-group">
                            <button type="reset" class="btn btn-default">Cancelar</button>
                            <button id="btnEditTurmas" type="submit" class="btn btn-success">Associar turmas
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--###################################################################-->

    <div class="control-group">
        <div id="hiddenEscola" class="hidden">
            <input type="text" value="{}" id="teacherClasses" class="form-control" name="addTurmas">
            <input type="text" id="userId">
        </div>

    </div>

    <!-- Botoes-->
</div>