<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-nav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#teachers">Total: <label id="teachersBadge" class=""></label>
                </a></li>
                <li class="divider-vertical"></li>
                <li>
                    <div class="input-group" style="width: 350px;padding-top: 11px;">
                        <input id="txtSearch" type="text" class="form-control" placeholder="Pesquisar"
                               aria-describedby="basic-addon2">
                        <span class="input-group-addon"> <i class="fa fa-search"></i></span>
                    </div>
                </li>
                <li class="divider-vertical"></li>
                <li><a href="#teachers/new" title="Adicionar utilizador"><i class="fa fa-user-plus"></i></a></li>
                <li class="divider-vertical"></li>
                <li><a href="#user">Eu</a></li>
            </ul>
        </div>
    </div>
</div>
</div>
<div id="teachersDiv" class="mainDiv">
    <div class=" panel-body col-md-5" align=center>
        <div id="teachersContent" class=" panel-body col-md-12" align=center>

        </div>
    </div>
    <div class="col-md-7" style="padding: 30px; " align="center">
        <div id="teachersPreview" class="col-md-12 divWidget" align="center">
        </div>
    </div>
</div>
