</div>
<div id="teachersDiv" class="mainDiv">
    <div class="col-md-12">
        <section class="panel subMenu">

            <ul class="nav navbar-nav">
                <li><a href="#teachers">Total: <%= collection.length %><label id="teachersBadge" class=""></label>
                </a></li>
                <li class="divider-vertical"></li>

                <li>
                    <div class="input-group" style="width: 350px;padding-top: 11px;">
                        <input id="txtSearch" type="text" class="form-control" placeholder="Pesquisar"
                               aria-describedby="basic-addon2">
                        <span class="input-group-addon"> <i class="fa fa-search"></i></span>
                    </div>
                </li>
                <li><a id="orderBy" class="order"><i class="fa fa-sort-alpha-asc"></i> </a></li>
                <li class="divider-vertical"></li>
                <li><a href="#teachers/new" title="Adicionar utilizador"><i class="fa fa-user-plus"></i></a></li>
                <li class="divider-vertical"></li>
                <li><a href="#user">Eu</a></li>

            </ul>
        </section>
        <!-- END REGIONAL STATS PORTLET-->
    </div>

    <div class=" panel-body col-md-5" align=center>


        <div id="teachersContent" class=" panel-body col-md-12" align=center>


            <% _.each(collection,function(prof){ %>
            <div class="row">
                <div class="listButton divWidget"
                     id='<%= prof._id %>' value="<%= prof.name %>">

                    <img src="<%= prof.b64 %>">
                    <span><%= prof.name %></span>
                    <div class="editDeleteOp">
                        <a href="#teachers/<%= prof._id %>/edit" title="Editar professor">
                            <i id="btnEdit" class="fa fa-edit"></i>
                        </a>
                        <a href="#teachers" class="delete" title="Apagar professor">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </div>

                </div>
            </div>
            <% }); %>
        </div>


    </div>
    <div class="col-md-7" style="padding: 30px; " align="center">
        <div id="teachersPreview" class="col-md-12 divWidget" align="center">
        </div>
    </div>
</div>
