<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-sidebar-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a>Total: <label id="questionsBadge" class=""><%=collection.length%></label>
                     <span style="font-size:16px;"
                           class="pull-right hidden-xs showopacity fa fa-question"></span>
                </a></li>
                <li>
                    <input id="txtSearch" type="text" class="form-control" placeholder="Pesquisar"
                           aria-describedby="basic-addon2">
                </li>
                <li class="active">
                    <a id="orderBy" class="order">Ordenar
                        <span style="font-size:16px;"
                              class="pull-right hidden-xs showopacity fa fa-sort-alpha-desc"></span>
                    </a>
                </li>
                <li>
                    <a href="#tests/new">Inserir
                        <span style="font-size:16px;"
                              class="pull-right hidden-xs showopacity glyphicon glyphicon-plus-sign"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id="testsDiv" class="mainDiv">
    <div class="col-md-12">
        <section class="panel subMenu">

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-filter"></i>
                        Disciplina
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu" id="filterSubject" filter="">
                        <li class="dropdown-submenu pull-left">
                            <a class=" contentFilter"
                               data-toggle="dropdown"
                               value=""
                               aria-expanded="false">Ver todas</a>
                        </li>

                    </ul>
                </li>
            </ul>
        </section>
        <!-- END REGIONAL STATS PORTLET-->
    </div>
    <div class=" panel-body col-md-5" align="center">

        <div id="testsContent" class=" panel-body col-md-12" align="center">
            <% _.each(collection,function(test){ %>
            <div class="listButton divWidget row" value=" <%= test.subject %>"
                 id='<%= test._id %>'
            <% if ( test.profID == window.sessionStorage.getItem('username') ){ %>
            style="background-color:#FBF6B4"
            <% } %>
            >
            <img src='../img/<%= test.subject.split(":")[0] %>.png'>
            <span><%= test.title %></span>
            <div class="editDeleteOp">
                <a title="Atribuir teste"><i
                        testID="<%= test._id %>" testName="<%= test.title %>" class="fa fa-calendar"></i></a>
                <a title="Apagar teste"><i class="fa fa-trash-o"></i></a>

            </div>
        </div>
        <% }); %>

    </div>
</div>
<div class="col-md-7">
    <div id="testsPreview" class="row divWidget">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">

            <ol class="carousel-indicators">

            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" style="
    color: #F9D0DC;">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" style="
    color: #F9D0DC;">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="attrTest" role="dialog">
    <form id="attrTestForm">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body row">
                    <input type="hidden" id="testID" name="genericID">

                    <div class="col-md-6">
                        <select class="form-control mandatory" id="studentsDD" name="studentID">
                            <option disabled selected>Aluno</option>
                        </select>
                    </div>
                    <div class="row col-md-6">
                        <select class="form-control mandatory" id="selectType" name="type">
                            <option disabled selected>Tipo de teste</option>
                        </select>
                    </div>
                    <div class="row col-sm-12">
                        <input type="text" class="form-control mandatory" placeholder="Descrição" name="description">
                        <span class="glyphicon"><i class="fa fa-comment-o"></i></span>
                    </div>

                    <div class="row col-md-6">
                        <div class='input-group date'>
                            <span class="input-group-addon">De</span>
                            <input type='text' class="form-control" name="beginDate" placeholder="Data de Inicio"/>
                        </div>
                    </div>
                    <div class="row col-md-6">
                        <div class='input-group date'>
                            <span class="input-group-addon">
                                Até
                            </span>
                            <input type='text' class="form-control" name="endDate" placeholder="Data de Fim"/>

                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('.date').datetimepicker({
                                viewMode: 'days',
                                format: 'DD-MM-YYYY'
                            });
                        });
                    </script>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="btnAtrTest" type="submit" class="btn btn-success">Atribuir</button>
                </div>
            </div>

        </div>
    </form>
</div>

</div>