<div id="testsContent" class=" panel-body col-md-5" align=center style="overflow:auto">
    <img src="../img/page-loader.gif" style='height:200px;'>
</div>

<div id="testsPreview" class="col-md-5" align="center">

    <!-- Edit Buttons -->
    <div class="btn-group" id="btnTestEdit" style="position:absolute; left:10px">

        <span type="button" class="btn badge btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
              title="Opções de edição">
                <span class="glyphicon glyphicon-cog"></span>
                <span class="sr-only">Toggle Dropdown</span>
        </span>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a title="Criar um novo teste com o mesmo conteúdo.">
                    <label id="btnTestClonar" class="btn badge btn-warning" val="'+documnt._id">
                        <span class="glyphicon glyphicon-refresh" style="color:#80ee80"></span>Clonar Teste
                    </label>
                </a>
            </li>

            <li class="divider"></li>

            <li>
                <a title="Apagar este teste">
                    <label id="btnTestElimina" class="btn badge btn-danger" val="'+documnt._id">
                        <span class="glyphicon glyphicon-trash" style="color:#cccccc"></span> Apagar Teste
                    </label>
                </a>
            </li>
        </ul>

    </div>

    <span class="badge btn-info">Pré-visualização de [Titulo]</span>
    <hr>

    <div id="testPreviewContainer" align=left></div>

</div>